body {
    color:whitesmoke;
    background:black;
    font-family:Courier, monospace;
    font-size: medium;
    background-image: url("background.jpg");
    background-size: cover;
    
    
}
h1 {
    color: green;
    font-size: 80px;
}
h2 {
    color:green
}
.pepetype{
    display:inline-block;
}
.text{
    white-space:nowrap;
    overflow:hidden
}
.sbox{
    height: 0px;
    width: 20000x;
    padding: 1px;
    margin: 100px;
    border: 10px solid green;
}
a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color:black;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: greenyellow;
}